.stockSection {
  flex-direction: column;
  width: 50%;
  background-color: black;  
  margin: auto;
  margin-top: 10px;
  height: 500px;
}

@media screen and (max-width:480px) {
  .stockSection {
    width: 90%;
  }
}
